name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and test the script
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Setup JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'adopt'
          # https://github.com/gradle/actions/blob/main/docs/setup-gradle.md#incompatibility-with-other-caching-mechanisms

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          # Double check to validate the Gradle wrapper
          validate-wrappers: true
          cache-disabled: false

      - name: Make sure the `./gradlew` is executable
        run: chmod +x ./gradlew

      - name: Build & Test with Gradle
        run: ./gradlew build --stacktrace
